apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-api
  namespace: devops-exercise
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-api
  template:
    metadata:
      labels:
        app: devops-api
    spec:
      containers:
        - name: devops-api
          image: 014498651263.dkr.ecr.us-east-1.amazonaws.com/devops-exercise-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /DevOps
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /DevOps
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20